html {
	--color-1: #463220;
	--color-2: #66593c;
	--color-3: #eceadd;
	--color-4: #f7f8f5;
	--color-5: #ffffff;
	--color-6: #5881a9;
	--gap-s: 0.625rem;
	--gap: 1rem;
}

body {
	font-family: sans-serif;
	margin: 0px;
	color: var(--color-5);
	background-color: #212529;
	font-size: 1.3rem;
}

.button {
	text-align: center;
	border-radius: 5px;
	box-shadow: 1px 1px white;
	color: white;
}

.button:active {
	box-shadow: 3px 3px #fff;
	transform: translateY(2px);
}

a {
	text-shadow: 5 5px --color-5;
}

h3,
label {
	color: black;
}

/* loading page */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: red;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 5px;
}
